[MASTER]
init-hook='import sys, os; sys.path.insert(0, os.path.abspath("."))'
disable= empty-docstring,missing-class-docstring, missing-module-docstring, missing-function-docstring
ignore=alembic
ignore-paths=^alembic/.*$

